<h1>User info</h1>


<% if @user.errors.any? %>
	<h4><%= @user.errors.count %> error prohibited this obj from being saved: </h4>
	<ul>
		<% @user.errors.full_messages.each do |message| %>
			<div class="form-error">
				<%= message %>
			</div>
		<% end %>
	</ul>
<% end %>


<%= form_for(@user) do |f| %>
	<p>name</p>
	<%= f.text_field :name %>
	<p>Image</p>
	<%= f.attachment_field :profile_image %>
	<p>introduction</p>
	<%= f.text_area :introduction %>
	<%= f.submit 'Update User' %>
<% end %>