<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<%= render 'layouts/list', user: @user, book: @book %>


		<div class="col-xs-9">
			<h1>Books</h1>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>

				<% @show_book.each do |book| %>
					<% if @user.id == book.user_id %>
						<tbody>
							<tr>
								<td><%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %></td>
								<td><%= link_to book.title, book_path(book) %></td>
								<td><%= book.body %></td>
							</tr>
						</tbody>
					<% end %>
				<% end %>
			</table>
		</div>
	</div>
</div>