<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>


<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<p>name</p>
<%= @user.name %>
<p>introduction</p>
<%= @user.introduction %>
<a href="/users/<%= current_user.id %>/edit"><i class="fas fa-wrench"></i></a>


<h1>New book</h1>
<%= form_for(@book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Body</p>
	<%= f.text_area :body %>
	<%= f.submit 'Create Book' %>
<% end %>


<h1>Books</h1>
<% @show_book.each do |book| %>
	<% if @user.id == book.user_id %>
		<%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
		<%= book.user.name %>
		<%= link_to book.title, book_path(book) %>
		<%= book.body %>
	<% end %>
<% end %>