<h1>Editing Book</h1>

<% if @book.errors.any? %>
	<h4><%= @book.errors.count %> error prohibited this obj from being saved: </h4>
	<ul>
		<% @book.errors.full_messages.each do |message| %>
			<div class="form-error">
				<%= message %>
			</div>
		<% end %>
	</ul>
<% end %>


<%= form_for(@book) do |f| %>
	<p><p>Title</p></p>
	<%= f.text_field :title %>
	<p>Opinion</p>
	<%= f.text_area :body %>
	<%= f.submit 'Update Book' %>
<% end %>

<div class="bar">
<%= link_to "show", book_path(@book) %>
<p>|</p>
<%= link_to "Back", books_path %>
</div>