<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<div class="eroor_msg">
				<% if @book.errors.any? %>
					<h4><%= @book.errors.count %> error prohibited this obj from being saved: </h4>
					<ul>
						<% @book.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						<% end %>
					</ul>
				<% end %>
			</div>

			<%= render 'layouts/list', user: @user, book: @book %>


		<div class="col-xs-9">
			<h1>Books</h1>
			<table class="table">
				<thead>
					<tr>
						<th></th>
						<th>Title</th>
						<th>Opinion</th>
					</tr>
				</thead>

				<% @books.each do |book| %>
					<tbody>
						<tr>
							<td><a href="/users/<%= book.user.id %>"><%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %></a></td>
							<td><%= link_to book.title, book_path(book) %></td>
							<td><%= book.body %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
	</div>
</div>