<% if @book.errors.any? %>
	<h4><%= @book.errors.count %> error prohibited this obj from being saved: </h4>
	<ul>
		<% @book.errors.full_messages.each do |message| %>
			<div class="form-error">
				<%= message %>
			</div>
		<% end %>
	</ul>
<% end %>


<h1>User info</h1>
<%= attachment_image_tag @user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<p>name</p>
<%= @user.name %>
<p>introduction</p>
<%= @user.introduction %>
<%= link_to "編集", edit_user_path(@user) %>

<h1>New book</h1>
<%= form_for(@book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Opinion</p>
	<%= f.text_area :body %>
	<%= f.submit 'Create Book' %>
<% end %>

<h1>Books</h1>
<% @books.each do |book| %>
	<a href="/users/<%= book.user.id %>"><%= attachment_image_tag book.user, :profile_image, fallback: "no_image.jpg", size: "100x100" %></a>
	<%= link_to book.title, book_path(book) %>
	<%= book.body %>
<% end %>