<% if flash[:notice] %>
	<%= flash[:notice] %>
<% end %>


<h1>User info</h1>
<%= attachment_image_tag @show_book.user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
<p>name</p>
<%= @show_book.user.name %>
<p>introduction</p>
<%= @show_book.user.introduction %>
<a href="/users/<%= current_user.id %>/edit"><i class="fas fa-wrench"></i></a>

<h1>New book</h1>
<%= form_for(@book) do |f| %>
	<p>Title</p>
	<%= f.text_field :title %>
	<p>Opinion</p>
	<%= f.text_area :body %>
	<%= f.submit 'Create Book' %>
<% end %>

<h1>Book detail</h1>
<a href="/users/<%= @show_book.user.id %>"><%= attachment_image_tag @show_book.user, :profile_image, fallback: "no_image.jpg", size: "100x100" %></a>
<%= link_to @show_book.user.name, user_path(@show_book.user.id) %>
<%= @show_book.title %>
<%= @show_book.body %>
<% if @show_book.user.id == current_user.id %>
	<%= link_to "edit", edit_book_path(@show_book.id) %>
	<%= link_to "destroy", book_path(@show_book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>