<div class="container">
	<div class="row">
		<div class="col-lg-3">

			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<h1>User info</h1>
			<%= attachment_image_tag @show_book.user, :profile_image, fallback: "no_image.jpg", size: "100x100" %>
			<table class="table">
				<tbody>
					<tr>
						<th>name</th>
						<th><%= @show_book.user.name %></th>
					</tr>
					<tr>
						<th>introduction</th>
						<th><%= @show_book.user.introduction %></th>
					</tr>
				</tbody>
			</table>
			<a href="/users/<%= current_user.id %>/edit" class="btn btn-default btn-block"><i class="fas fa-wrench"></i></a>

			<h1>New book</h1>
			<%= form_for(@book) do |f| %>
				<div class="form-group">
					<p><b>Title</b></p>
					<%= f.text_field :title, class:"form-control" %>
				</div>
				<div class="form-group">
					<p><b>Body</b></p>
					<%= f.text_area :body, class:"form-control" %>
				</div>
				<%= f.submit 'Create Book', class:"btn btn-primary btn-block" %>
			<% end %>
		</div>


		<div class="col-lg-9">
			<h1>Book detail</h1>
			<table class="table">
				<tbody>
					<tr>
						<td><a href="/users/<%= @show_book.user.id %>"><%= attachment_image_tag @show_book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %></a><br>
							<%= link_to @show_book.user.name, user_path(@show_book.user.id) %></td>
						<td><%= @show_book.title %></td>
						<td><%= @show_book.body %></td>
						<% if @show_book.user.id == current_user.id %>
							<td><%= link_to "edit", edit_book_path(@show_book.id), class:"btn btn-success" %></td>
							<td><%= link_to "destroy", book_path(@show_book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>