<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<% if flash[:notice] %>
				<div class="flash">
					<%= flash[:notice] %>
				</div>
			<% end %>

			<%= render 'layouts/list', user: @show_book.user, book: @book %>



		<div class="col-xs-9">
			<h1>Book detail</h1>
			<table class="table">
				<tbody>
					<tr>
						<td><a href="/users/<%= @show_book.user.id %>"><%= attachment_image_tag @show_book.user, :profile_image, fallback: "no_image.jpg", size: "40x40" %></a><br>
							<%= link_to @show_book.user.name, user_path(@show_book.user.id) %></td>
						<td><%= @show_book.title %></td>
						<td><%= @show_book.body %></td>
						<% if @show_book.user.id == current_user.id %>
							<td><%= link_to "Edit", edit_book_path(@show_book.id), class:"btn btn-success" %></td>
							<td><%= link_to "Destroy", book_path(@show_book.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-danger" %></td>
						<% end %>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>